<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">
                    Set of super simple widgets compatible with Awesome Window Manager v.4.
                </p>


            </div>
            <!--<div class="col l3 s12">-->
                <!--<h5 class="white-text">Settings</h5>-->
                <!--<ul>-->
                    <!--<li><a class="white-text" href="#!">Link 1</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 2</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <div class="col l3 s12 offset-l3">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/streetturtle/AwesomeWM" data-icon="octicon-star" data-count-href="/streetturtle/AwesomeWM/stargazers" data-count-api="/repos/streetturtle/AwesomeWM#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star streetturtle/AwesomeWM on GitHub">Star</a></li>
                    <!-- Place this tag where you want the button to render. -->
                    <li><!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/streetturtle/AwesomeWM/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download streetturtle/AwesomeWM on GitHub">Download</a></li>
                    <li><!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/streetturtle" data-count-href="/streetturtle/followers" data-count-api="/users/streetturtle#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @streetturtle on GitHub">Follow @streetturtle</a></li>
                    <!--<li><a class="white-text" href="#!">Link 3</a></li>-->
                    <!--<li><a class="white-text" href="#!">Link 4</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://github.com/streetturtle">Pavel Makhov</a>
        </div>
    </div>
</footer>