<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Widgets for Awesome WM</title>
    <meta name"description" content="Several simple basic widgets for Awesome Window Manager - battery widget, brightness widget,
    email widget, volume widget, weather-widget, spotify/rhythmbox widget"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ '/assets/fonts/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/materialize.min.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/syntax.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ '/assets/js/init.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
