<ul>
    <li><a class="github-button"
           href="https://github.com/streetturtle/awesome-wm-widgets/subscription"
           data-icon="octicon-eye" data-show-count="true"
           aria-label="Watch streetturtle/awesome-wm-widgets on GitHub">Watch</a></li>
    <li><a class="github-button" href="https://github.com/streetturtle/awesome-wm-widgets"
           data-icon="octicon-star" data-show-count="true"
           aria-label="Star streetturtle/awesome-wm-widgets on GitHub">Star</a></li>
    <li><a class="github-button" href="https://github.com/streetturtle/awesome-wm-widgets/fork"
           data-icon="octicon-repo-forked" data-show-count="true"
           aria-label="Fork streetturtle/awesome-wm-widgets on GitHub">Fork</a></li>
    <li><a class="github-button" href="https://github.com/streetturtle/awesome-wm-widgets/issues"
           data-icon="octicon-issue-opened" data-show-count="true"
           aria-label="Issue streetturtle/awesome-wm-widgets on GitHub">Issue</a></li>
    <li><a class="github-button"
           href="https://github.com/streetturtle/awesome-wm-widgets/archive/master.zip"
           data-icon="octicon-cloud-download"
           aria-label="Download streetturtle/awesome-wm-widgets on GitHub">Download</a></li>
    <li><a class="github-button" href="https://github.com/streetturtle"
           data-show-count="true" aria-label="Follow @streetturtle on GitHub">Follow @streetturtle</a></li>
</ul>
