<nav class="transparent" role="navigation">
    <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
            <li><a href="https://github.com/streetturtle/AwesomeWM/">
                <i class="fa fa-github" aria-hidden="true"></i> Github</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>