---
---
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.topnav {
  background-color: #222222;
  border-top: 3px #3CA2A2 solid;
  border-bottom: 1px #080808 solid;

  .site-header {
    padding: 50px 0;
  }

}

#header {
  font-size: 3em;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1.12em;
}

h5 {
  font-size: .83em;
}

h6 {
  font-size: .75em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #393939;
  color: white;
}

footer {
  padding-top: 0 !important;
  padding-bottom: 12px;
}

.sidenav {
  background-color: #202020;
  color: white;

  li > a {
    color: #8a9ba1;
  }
  li > a.subheader {
    padding-left: 16px;
  }
  li {
    border-left: 3px solid transparent;
  }

  .collapsible-body li.active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-left: 3px solid teal;
    > a {
      color: white;
    }
  }

  .sidenav-footer {
    li {
      line-height: normal;
      padding: 4px 32px;
    }
  }
}


.section {
  ul > li {
    list-style-type: disc;
  }

  ul {
    padding-left: 40px;
  }

  .highlighter-rouge {
    // width: 80%;
    margin: auto;
  }
}

figure.highlight {
  margin: 0;
}

.widget {
  transition: all 2s linear;
}

.footer-copyright {
  .jekyll-icon {
    height: 30px;
    margin-bottom: -3px;
  }
  .materialcss-icon {
    height: 22px;
    padding: 0 4px;
  }
  .fa-spotify {
    padding: 0 6px;
  }
  .cprght {
    padding-top: 12px;
  }

}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#particles-js {
  height: 193px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// .tab.active {
//   display: block;
// }

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  background-color: #333333;
  margin: 0 auto 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  td {
    border: 1px solid #5e5e5e;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// scrollbar
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171717;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

p{
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}
img.center-image {
    margin: 0 auto;
    display: block;
}


@font-face {
  font-family: awesomewm-font;
  src: url({{ '/assets/fonts/awesomewm-font.ttf' | relative_url }});
}

.filename{
  background-color: #292929;
  color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-left: 0;
  bottom: -2px;
  position: relative;
  padding: 0 0 2px 1em;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-left: 1px solid #222;
  // width: 80%;
  margin: auto;
  p{
    margin: 0;
  }
}


.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active {
  background-color: #202020;
}
.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li1 {
  background-color: #202020;
}

.sidenav .collapsible-body, .sidenav.fixed .collapsible-body {
  background-color: #202020
}

body .gist .highlight {
  background: #272822;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-s2,
body .gist .pl-stj {
  color: #f8f8f2;
}
body .gist .pl-c1 {
  color: #ae81ff;
}
body .gist .pl-enti {
  color: #a6e22e;
  font-weight: 700;
}
body .gist .pl-st {
  color: #66d9ef;
}
body .gist .pl-mdr {
  color: #66d9ef;
  font-weight: 400;
}
body .gist .pl-ms1 {
  background: #fd971f;
}
body .gist .pl-c,
body .gist .pl-c span,
body .gist .pl-pdc {
  color: #75715e;
  font-style: italic;
}
body .gist .pl-cce,
body .gist .pl-cn,
body .gist .pl-coc,
body .gist .pl-enc,
body .gist .pl-ens,
body .gist .pl-kos,
body .gist .pl-kou,
body .gist .pl-mh .pl-pdh,
body .gist .pl-mp,
body .gist .pl-mp1 .pl-sf,
body .gist .pl-mq,
body .gist .pl-pde,
body .gist .pl-pse,
body .gist .pl-pse .pl-s2,
body .gist .pl-mp .pl-s3,
body .gist .pl-smi,
body .gist .pl-stp,
body .gist .pl-sv,
body .gist .pl-v,
body .gist .pl-vi,
body .gist .pl-vpf,
body .gist .pl-mri,
body .gist .pl-va,
body .gist .pl-vpu {
  color: #66d9ef;
}
body .gist .pl-cos,
body .gist .pl-ml,
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1,
body .gist .pl-sol {
  color: #e6db74;
}
body .gist .pl-e,
body .gist .pl-ef,
body .gist .pl-en,
body .gist .pl-enf,
body .gist .pl-enm,
body .gist .pl-entc,
body .gist .pl-entm,
body .gist .pl-eoac,
body .gist .pl-eoac .pl-pde,
body .gist .pl-eoi,
body .gist .pl-mai .pl-sf,
body .gist .pl-mm,
body .gist .pl-pdv,
body .gist .pl-som,
body .gist .pl-sr,
body .gist .pl-vo {
  color: #a6e22e;
}
body .gist .pl-ent,
body .gist .pl-eoa,
body .gist .pl-eoai,
body .gist .pl-eoai .pl-pde,
body .gist .pl-k,
body .gist .pl-ko,
body .gist .pl-kolp,
body .gist .pl-mc,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s3,
body .gist .pl-smc,
body .gist .pl-smp,
body .gist .pl-sok,
body .gist .pl-sra,
body .gist .pl-src,
body .gist .pl-sre {
  color: #f92672;
}
body .gist .pl-mb,
body .gist .pl-pdb {
  color: #e6db74;
  font-weight: 700;
}
body .gist .pl-mi,
body .gist .pl-pdi {
  color: #f92672;
  font-style: italic;
}
body .gist .pl-pdc1,
body .gist .pl-scp {
  color: #ae81ff;
}
body .gist .pl-sc,
body .gist .pl-sf,
body .gist .pl-mo,
body .gist .pl-entl {
  color: #fd971f;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
  color: #a6e22e;
  background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf {
  color: #f92672;
  background: rgba(64, 0, 0, .5);
}
body .gist .pl-mdh,
body .gist .pl-mdi {
  color: #a6e22e;
  font-weight: 400;
}
body .gist .pl-ib,
body .gist .pl-id,
body .gist .pl-ii,
body .gist .pl-iu {
  background: #a6e22e;
  color: #272822;
}