<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Widgets for Awesome WM</title>
    <meta name"description" content="Several simple basic widgets for Awesome Window Manager - battery widget, brightness widget, 
        email widget, volume widget, weather-widget, spotify/rhythmbox widget">

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ '/assets/fonts/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/materialize.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="{{ '/assets/css/syntax.css' | relative_url }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ '/assets/js/init.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/materialize.js' | relative_url }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
<body>
    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter43482459 = new Ya.Metrika({
                    id:43482459,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/43482459" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<main>
    <a href="https://github.com/streetturtle/AwesomeWM"><img
            style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67"
            alt="Fork me on GitHub"
            data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    <div class="section" id="index-banner">
        <!--{% include nav.html %}-->
        <div class="container">
            <br><br><br><br><br><br>
            <div id="header" class="header center white-text">
                <a href="{{ site.url | append: site.baseurl}}/">Awesome WM widgets</a>
            </div>
            <div id="description" class="header center white-text">Set of widgets for Awesome Window Manager</div>
            <br><br><br>
        </div>
    </div>

    <div class="container">
        <div class="section">


            <div class="row">
                <div class="col s12 m8 offset-m2">
                    {{content}}
                </div>
            </div>
        </div>
        <br><br>
        <div class="section">

        </div>
    </div>

</main>
{% include footer.html %}


</body>
</html>
