---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{% include yandex-metrica.html %}
<header>
    <div class="topnav">
        <div class="container">
            <div class="site-header">
                <div id="header" class="header center white-text">
                    <a href="{{ site.url | append: site.baseurl}}/"><span
                            style="font-family: awesomewm-font; font-weight: 100;">awesome wm</span></a>
                </div>
                    <div id="description" class="header center white-text">
<!--                         <span><i class="fa fa-exclamation-triangle" style="color: yellow"></i> This page is under construction</span> -->
                    Widgets for Awesome Window Manager
                </div>
            </div>
            <div id="particles-js"></div>
        </div>

        <!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
    </div>
</header>

<main>
    {% include github-corner.html %}

    <ul class="sidenav sidenav-fixed" style="transform: translateX(0px);">
        <li class=""><a class="white-text" href="#tabMain">Awesome WM Widgets</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader white-text">Widgets</a></li>

        {% for widget in site.widgets %}
        <li class="tab col s2 ">
            <a href="#tab{{ widget.title | replace: ' ', '_' }}">
                {{ widget.title | replace: 'Cpu', 'CPU' | replace: 'Ram', 'RAM'}}
            </a>
        </li>
        {% endfor %}

        <li><a class="subheader white-text">Prompts</a></li>

        {% for prompt in site.prompts %}
        <li class="tab col s2 ">
            <a href="#tab{{ prompt.title | replace: ' ', '_' }}">
                {{ prompt.title }}
            </a>
        </li>
        {% endfor %}

        <li><a class="subheader white-text">Tips and tricks</a></li>

        {% for tip in site.tips %}
        <li class="tab col s2 ">
            <a href="#tab{{ tip.title | replace: ' ', '_' }}" onclick="">
                {{ tip.title }}
            </a>
        </li>
        {% endfor %}

        <li><div class="divider"></div></li>
        <li><a class="subheader white-text">Links</a></li>

        <div class="sidenav-footer">
            {% include links.html %}
        </div>
    </ul>

    <div class="container">
        <div class="section">
            <div class="row">

                <div class="center-align">
                    <img src="https://github.com/streetturtle/AwesomeWM/blob/master/screenshot.png?raw=true"/>
                </div>

                <div id="tabMain" class="widget col s12 hide">
                    {{site.main[0].content}}
                </div>

                {% for widget in site.widgets %}
                <div id="tab{{ widget.title | replace: ' ', '_' }}" class="widget col s12 hide">{{
                    widget.content }}
                </div>
                {% endfor %}

                {% for prompt in site.prompts %}
                <div id="tab{{ prompt.title | replace: ' ', '_' }}" class="prompt col s12 hide">{{
                    prompt.content }}
                </div>
                {% endfor %}

                {% for tip in site.tips %}
                <div id="tab{{ tip.title | replace: ' ', '_' }}" class="widget col s12 hide">{{
                    tip.content }}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

</main>
{% include footer.html %}

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
